.login-form{
    position: fixed; /* Changed to fixed for full-screen overlay */
    display: none; /* Initially hidden */
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000;
}
.login-form-box{
    display: flex;
    width: 100%;
    height: 100vh;
}
.login-form-left{
    padding: 200px 100px;
    width: 60%;
    height: 100vh;
    color: #fff;
    background-color: rgb(0, 0, 0);
}
.login-form-right{
    padding: 90px 80px;
    color: #fff;
    width: 40%;
    height: 100vh;
    background-color: rgba(76, 76, 76, 0.772);
}
.google-facebook{
    display: flex;
    justify-content: space-between;
}
.g{
    background-color:rgba(240, 248, 255, 0.308);
    width: 40%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}
.g i{
    font-size: 30px;
}
.g p{
    margin-top: 15px;
}
.fa-facebook{
    color: rgb(62, 62, 216);
}
label{
    font-weight: bold;
}
.form-group{
    margin-top: 25px;
}
.form-group input{
    padding: 15px 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.469);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
}
.btn-form-login button{
    padding: 10px 30px;
    margin-right: 20px;
}